*{
	margin:0;
	border:0;
	padding:0;
	box-sizing: border-box;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

img {
    padding: 1em;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul li {
    float: left;
}

@media all and (min-width: 1024px) {
    img {
        width: 32.33%;
    }
}

@media all and (min-width: 600px) and (max-width: 1023px) {
    img {
        width: 49%;
    }
}

@media all and (min-width: 0px) and (max-width: 599px) {
    img {
        width: 100%;
    }
}
